.product {
    position: relative;
    box-shadow: 0px 0px 3px 0px;
    border-radius: 4px;
    margin: 10px 15px;
}

.product img {
    width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.info {
    margin-left: 6px;
    padding-bottom: 35%;
}

.info h3,
h4 {
    margin-top: 0px;
}

.info h4 {
    margin-bottom: 30px;
}

.more-info {
    position: absolute;
    bottom: 0;
    padding-bottom: 14%;
    margin-left: 6px;
}

.more-info p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.product button {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    padding: 10px 0px;
    border-top: 1px solid #95A0A7;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFE0B3;
    cursor: pointer;
    transition: 0.1s;
}

.product button:hover {
    background-color: #ff9900;
    color: #FFFFFF;
}

.product button span {
    margin-right: 6px;
}